* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    font-family: Arial, sans-serif;
    background-color: #789DBC;
    color: black;
}
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 2rem;
    margin: auto;
    margin-left: 1rem;
    color: black;
}
.beige {
    background-color: #fdf3dd;
}
.nav-icon {
    font-size: 24px;
    cursor: pointer;
}
.logo img{
    border-radius: 50%;
}
.site-name {
    font-size: 5em;
    font-family: "Times New Roman";
}
.search-section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: auto;
    margin-top: 3rem;
    max-width: 90%;
}
.search-section input {
    padding: 8px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.search-btn {
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #01204E;
    color: white;
    border-radius: 4px;
}
button:hover {
    background-color: #45a049;
}
#video-results {
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 2rem;
    background-color: #C9E9D2;
}
.footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    max-width: 100%;
}
.rounded {
    padding: 3px;
}